<h2>Sponsors</h2>
<blockquote>
  Are you currently working in an
  <strong>enterprise environment with many applications</strong> and found
  yourself thinking you could provide so much more value only if you had better
  overview to plan, track progress and just get things done?
</blockquote>

<div class="wrapper">
  <div class="description">
    <p class="main">
      Try
      <strong>
        <a href="https://omniboard.dev" target="_blank" rel="noopener"
          >Omniboard</a
        >, the best tool for lead software engineers and architects</strong
      >
      that helps them to get an overview to drive change by querying and
      tracking all their code bases!
    </p>
    <p>
      The free plan let's you get a full overview of all your projects with your
      first dashboard, tracking up to 3 different things!
    </p>
  </div>
  <video
    controls
    poster="https://omniboard.dev/b2b96efba1f59708101fcb7518ccb2e8.png"
  >
    <source
      src="https://omniboard.dev/babce00e11911652b3847c5b454421d5.mp4"
      type="video/mp4"
    />
  </video>
</div>
