<div class="quick-nav">
  <h3>Quick navigation</h3>
  <ul>
    <li><a routerLink="." fragment="basic-testing">Basic testing</a></li>
  </ul>
</div>

<div class="wrapper">
  <h1>Testing</h1>

  <h2 id="basic-testing">Basic testing</h2>
  <div class="content">
    <div class="description">
      <h3>Component</h3>
      <p>
        Let's say we have a component which uses
        <code>&lt;my-org-element></code> element in its template with the help
        of <code>*axLazyElement</code> directive.
      </p>
      <pre [highlight]="codeExampleComponent" language="typescript"></pre>
      <p>
        We would like to test if the component is passing correct data to the
        element based on some interactions but at the same time, we would like
        to NOT depend on real element for our tests...
      </p>

      <h3>Test</h3>
      <p>
        We want to mock our element in the test and for that we can use
        <code>LazyElementsTestingModule</code> which comes with two mock
        directives for both <code>*axLazyElement</code> and
        <code>*axLazyElementDynamic</code>.
      </p>
      <p>
        Their behavior was adjusted so that they just render the host
        immediately without trying to lazy load element, display loading or
        error
      </p>
      <pre [highlight]="codeExampleTest" language="typescript"></pre>
    </div>
  </div>
</div>
