@use 'sass:map';
@use '@angular/material' as mat;

@mixin demo-navigation-component-theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $foreground: map.get($theme, foreground);
  $background: map.get($theme, background);

  demo-navigation {
    .active {
      .mdc-list-item__primary-text {
        color: mat.m2-get-color-from-palette($primary) !important;
      }
    }

    .mat-mdc-list-item-unscoped-content {
      display: flex;
      align-items: center;

      mat-icon {
        padding: 8px;
      }
    }
  }
}
