<div class="spacer"></div>
<mat-nav-list>
  <ng-container *ngFor="let nav of navigation">
    <a
      mat-list-item
      [routerLink]="nav.url"
      routerLinkActive="active"
      #rla="routerLinkActive"
    >
      {{ nav.label }}
      <mat-icon matListIcon>{{
        nav.children && rla.isActive ? 'expand_more' : 'chevron_right'
      }}</mat-icon>
    </a>
    <ng-container *ngIf="nav.children && rla.isActive">
      <a
        mat-list-item
        class="sub-nav"
        *ngFor="let child of nav.children"
        [routerLink]="child.url"
        routerLinkActive="active"
      >
        {{ child.label }}
      </a>
    </ng-container>
  </ng-container>
  <a
    mat-list-item
    class="image-link"
    href="https://angularexperts.io/blog"
    target="_blank"
    ><mat-icon matListIcon>chevron_right</mat-icon> MADE BY
    <img src="assets/logo/angular-experts.png" alt="Angular Experts Blog"
  /></a>
</mat-nav-list>
