:host {
  position: relative;
}

.spacer {
  min-width: 250px;
}

mat-nav-list {
  padding-top: 0;
  position: fixed;
  top: 64px;
  max-height: calc(100% - 64px);
  overflow-y: auto;
  overflow-x: hidden;
}

a[mat-list-item] {
  width: 250px;

  &.sub-nav {
    width: auto;
    padding-left: 32px !important;
    font-size: 1em !important;
  }
}

.image-link {
  img {
    height: 35px;
    margin: 0 0 0 10px;
  }
}

:host-context(.responsive) {
  mat-nav-list {
    top: 56px;
    max-height: calc(100% - 56px);
  }
}
