<div class="intro">
  <mat-icon
    inline
    svgIcon="logo"
    aria-hidden="false"
    aria-label="@angular-extensions/elements"
  ></mat-icon>
  <h1>BECOME A CONTRIBUTOR</h1>
  <h3>Missing a feature, found bug or typo in docs?</h3>
</div>

<br />
<br />
<br />

<p>
  Please, feel free to open an
  <a
    href="https://github.com/angular-extensions/elements/issues"
    target="_blank"
    >issue</a
  >
  or submit a
  <a href="https://github.com/angular-extensions/elements/pulls" target="_blank"
    >pull request</a
  >
  to make this project better for everyone! 🤗
</p>

<br />
<br />

<h2>List of contributors</h2>
<p>Coming soon!</p>
