<div class="intro">
  <mat-icon
    inline
    svgIcon="logo"
    aria-hidden="false"
    aria-label="@angular-extensions/elements"
  ></mat-icon>
  <h1>BECOME A CONTRIBUTOR</h1>
  <h3>Missing a feature, found bug or typo in docs?</h3>
</div>

<br />
<br />
<br />

<p>
  Please, feel free to open an
  <a
    href="https://github.com/angular-extensions/elements/issues"
    target="_blank"
    >issue</a
  >
  or submit a
  <a href="https://github.com/angular-extensions/elements/pulls" target="_blank"
    >pull request</a
  >
  to make this project better for everyone! 🤗
</p>

<br />
<br />

<h2>
  List of
  <a
    href="https://github.com/angular-extensions/elements/graphs/contributors"
    target="_blank"
    >contributors</a
  >
</h2>

<div class="contributors">
  <!-- ALL-CONTRIBUTORS-LIST:START -->
  <a class="contributor" href="https://medium.com/@tomastrajan" target="_blank">
    <img src="https://avatars0.githubusercontent.com/u/3764868?v=4" />
    <span>Tomas Trajan</span>
  </a>

  <a class="contributor" href="http://www.lambda-it.ch" target="_blank">
    <img src="https://avatars2.githubusercontent.com/u/2899448?v=4" />
    <span>Wayne Maurer</span>
  </a>

  <a class="contributor" href="https://www.santoshyadav.dev" target="_blank">
    <img src="https://avatars3.githubusercontent.com/u/11923975?v=4" />
    <span>Santosh Yadav</span>
  </a>
  <!-- ALL-CONTRIBUTORS-LIST:END -->
</div>
