<div class="intro">
  <mat-icon
    inline
    svgIcon="logo"
    aria-hidden="false"
    aria-label="@angular-extensions/elements"
  ></mat-icon>
  <h1>BECOME A CONTRIBUTOR</h1>
  <h3>Missing a feature, found bug or typo in docs?</h3>
</div>

<br />
<br />
<br />

<p>
  Please, feel free to open an
  <a
    href="https://github.com/angular-extensions/elements/issues"
    target="_blank"
    >issue</a
  >
  or submit a
  <a href="https://github.com/angular-extensions/elements/pulls" target="_blank"
    >pull request</a
  >
  to make this project better for everyone! 🤗
</p>

<br />
<br />

<h2>
  List of
  <a
    href="https://github.com/angular-extensions/elements/graphs/contributors"
    target="_blank"
    >contributors</a
  >
</h2>

<div class="contributors">
  <!-- ALL-CONTRIBUTORS-LIST:START -->
  <a class="contributor" href="https://medium.com/@tomastrajan" target="_blank">
    <img src="https://avatars0.githubusercontent.com/u/3764868?v=4" />
    <span>Tomas Trajan</span>
  </a>

  <a
    class="contributor"
    href="https://medium.com/@overthesanity"
    target="_blank"
  >
    <img src="https://avatars.githubusercontent.com/u/7337691?v=4" />
    <span>Artur Androsovych</span>
  </a>

  <a class="contributor" href="http://www.lambda-it.ch" target="_blank">
    <img src="https://avatars2.githubusercontent.com/u/2899448?v=4" />
    <span>Wayne Maurer</span>
  </a>

  <a class="contributor" href="https://www.santoshyadav.dev" target="_blank">
    <img src="https://avatars3.githubusercontent.com/u/11923975?v=4" />
    <span>Santosh Yadav</span>
  </a>

  <a
    class="contributor"
    href="https://twitter.com/daviddalbusco"
    target="_blank"
  >
    <img src="https://avatars0.githubusercontent.com/u/16886711?v=4" />
    <span>David Dal Busco</span>
  </a>

  <a
    class="contributor"
    href="https://www.linkedin.com/in/mohammedzamakhan"
    target="_blank"
  >
    <img src="https://avatars3.githubusercontent.com/u/2327532?v=4" />
    <span>Zama Khan Mohammed</span>
  </a>

  <a class="contributor" href="https://github.com/angelfraga" target="_blank">
    <img src="https://avatars0.githubusercontent.com/u/11693938?v=4" />
    <span>Angel Fraga Parodi</span>
  </a>

  <a class="contributor" href="https://github.com/ye3i" target="_blank">
    <img src="https://avatars1.githubusercontent.com/u/5447242?v=4" />
    <span>ye3i</span>
  </a>

  <a
    class="contributor"
    href="https://github.com/MagicCurlyHair"
    target="_blank"
  >
    <img src="https://avatars3.githubusercontent.com/u/38192464?v=4" />
    <span>Heorhi Shakanau</span>
  </a>

  <a class="contributor" href="http://www.plets.me/" target="_blank">
    <img src="https://avatars3.githubusercontent.com/u/119980?v=4" />
    <span>Felipe Plets</span>
  </a>

  <a class="contributor" href="https://github.com/jkubiszewski" target="_blank">
    <img src="https://avatars.githubusercontent.com/u/5447242?v=4" />
    <span>jkubiszewski</span>
  </a>

  <a class="contributor" href="https://github.com/gshokanov" target="_blank">
    <img src="https://avatars.githubusercontent.com/u/38192464?v=4" />
    <span>Heorhi Shakanau</span>
  </a>

  <a class="contributor" href="https://github.com/NagornovAlex" target="_blank">
    <img src="https://avatars.githubusercontent.com/u/3100132?v=4" />
    <span>NagornovAlex</span>
  </a>

  <a class="contributor" href="https://www.josephndavis.com/" target="_blank">
    <img src="https://avatars.githubusercontent.com/u/16785168?v=4" />
    <span>Joseph Davis</span>
  </a>
  <!-- ALL-CONTRIBUTORS-LIST:END -->
</div>
