.project-name {
  padding: 0 0 0 10px;
}

.spacer {
  flex: 1 0 auto;
}

button {
  margin: 0 0 0 10px;
}

.menu {
  margin: 0 10px 0 0;
}

a {
  &.logo {
    padding: 0;

    ::ng-deep svg {
      transform: scale(2);
      vertical-align: -webkit-baseline-middle;
    }
  }

  &:hover {
    color: #fff;
  }
}

iframe {
  width: 160px;
  height: 20px;
  margin: 0 0 0 10px;
}

img {
  margin: 0 0 0 10px;
}

:host-context(.responsive) {
  .spacer-responsive {
    flex: 1 0 auto;
  }
}
