.project-name {
  padding: 0 0 0 10px;
}

.spacer {
  flex: 1 0 auto;
}

button {
  margin: 0 0 0 10px;
}

.menu {
  margin: 0 10px 0 0;
}

a {
  &:hover {
    color: #fff;
  }
}

iframe {
  width: 160px;
  height: 20px;
  margin: 0 0 0 10px;
}

:host-context(.responsive) {
  .spacer-responsive {
    flex: 1 0 auto;
  }
}
