<mat-toolbar color="primary">
  @if (isResponsiveLayout()) {
    <button mat-icon-button class="menu" (click)="toggle.emit()">
      <mat-icon aria-hidden="false" aria-label="Menu">
        {{ navOpened() ? 'close' : 'menu' }}
      </mat-icon>
    </button>
  }

  <span class="spacer-responsive"></span>

  <a class="logo" mat-icon-button routerLink="home">
    <mat-icon
      inline
      svgIcon="logo"
      aria-hidden="false"
      aria-label="&#64;angular-extensions/elements"
    ></mat-icon>
  </a>
  <span class="project-name">
    {{ isResponsiveLayout() ? '' : '&#64;angular-extensions/' }}elements
  </span>
  @if (isResponsiveLayout() !== undefined) {
    <img
      alt="downloads per month"
      src="https://img.shields.io/npm/dm/&#64;angular-extensions/elements"
    />
  }
  @if (isResponsiveLayout() !== undefined) {
    <a
      href="https://twitter.com/tomastrajan?ref_src=twsrc%5Etfw"
      class="twitter-follow-button"
      data-lang="en"
      data-show-count="false"
    >
      Follow &#64;tomastrajan
    </a>
  }

  <span class="spacer"></span>
  @if (isResponsiveLayout() === false) {
    <button
      mat-flat-button
      routerLink="home"
      routerLinkActive="active"
      color="primary"
    >
      HOME
    </button>
    <button
      mat-flat-button
      routerLink="docs"
      routerLinkActive="active"
      color="primary"
    >
      DOCS
    </button>
    <button
      mat-flat-button
      routerLink="examples"
      routerLinkActive="active"
      color="primary"
    >
      EXAMPLES
    </button>
  }
  <a
    mat-icon-button
    href="https://github.com/angular-extensions/elements"
    target="_blank"
  >
    <mat-icon
      svgIcon="github"
      aria-hidden="false"
      aria-label="GitHub"
    ></mat-icon>
  </a>
  <a
    mat-icon-button
    href="https://www.npmjs.com/package/&#64;angular-extensions/elements"
    target="_blank"
  >
    <mat-icon svgIcon="npm" aria-hidden="false" aria-label="npm"></mat-icon>
  </a>
  <a mat-icon-button href="https://twitter.com/tomastrajan" target="_blank">
    <mat-icon
      svgIcon="twitter"
      aria-hidden="false"
      aria-label="Twitter"
    ></mat-icon>
  </a>
</mat-toolbar>
