<div class="wrapper">
  <h1>Advanced</h1>

  <h2>Elements configured in a feature module</h2>
  <div class="content">
    <div class="implementation" *ngIf="!example1">
      <button mat-flat-button color="accent" (click)="example1 = true">
        <mat-icon>play_arrow</mat-icon>
        Run
      </button>
    </div>
    <div class="implementation" *ngIf="example1">
      <ion-button *axLazyElement (click)="increment()">Click me</ion-button>
      <p>Counter: {{ counter }}</p>
    </div>
    <div class="description">
      <p>
        In this example we're pre-configuring
        <code>LazyElementsModule</code> with the element config. That way we
        don't have to specify url of the element in the
        <code>*axLazyElement</code> directive. The element will be lazy-loaded
        the same way as if we specified url directly.
      </p>
      <pre [highlight]="codeExample1html"></pre>
      <pre [highlight]="codeExample1module"></pre>
    </div>
  </div>

  <h2>Elements configured in a feature module with HTML inline options</h2>
  <div class="content">
    <div class="implementation" *ngIf="!example2">
      <button mat-flat-button color="accent" (click)="example2 = true">
        <mat-icon>play_arrow</mat-icon>
        Run
      </button>
    </div>
    <div class="implementation" *ngIf="example2">
      <ng-template #loading>Loading...</ng-template>
      <mwc-checkbox
        *axLazyElement="null; module: true; loadingTemplate: loading"
        >Click me</mwc-checkbox
      >
    </div>
    <div class="description">
      <p>
        We don't have to specify <code>url</code> when using pre-configured
        <code>LazyElementsModule</code>. We still might need to pass in
        <code>null</code> url into <code>*axLazyElement</code> directive in case
        we want to use other options like <code>module</code> or
        <code>loadingTemplate</code>.
      </p>
      <pre [highlight]="codeExample2html"></pre>
      <pre [highlight]="codeExample2module"></pre>
    </div>
  </div>

  <h2>
    Elements configured in a feature module with <code>isModule</code> option
  </h2>
  <div class="content">
    <div class="implementation" *ngIf="!example3">
      <button mat-flat-button color="accent" (click)="example3 = true">
        <mat-icon>play_arrow</mat-icon>
        Run
      </button>
    </div>
    <div class="implementation" *ngIf="example3">
      <ng-template #loading>Loading...</ng-template>
      <mwc-switch *axLazyElement="null; loadingTemplate: loading">
        Click me</mwc-switch
      >
    </div>
    <div class="description">
      <p>
        We can also pre-configure <code>isModule</code> flag by passing it to
        the <code>LazyElementsModule</code>config. That way we don't have to
        specify it in the template for module style elements!
      </p>
      <pre [highlight]="codeExample3html"></pre>
      <pre [highlight]="codeExample3module"></pre>
    </div>
  </div>

  <h2>
    Elements configured in <code>AppModule</code> or
    <code>CoreModule</code> using <code>forRoot</code>
  </h2>
  <div class="content">
    <div class="implementation" *ngIf="!example4">
      <button mat-flat-button color="accent" (click)="example4 = true">
        <mat-icon>play_arrow</mat-icon>
        Run
      </button>
    </div>
    <div class="implementation" *ngIf="example4">
      <mwc-fab icon="code" *axLazyElement></mwc-fab>
    </div>
    <div class="description">
      <p>
        Some options can be pre-configured for the whole application using
        <code>LazyElementsModule.forRoot()</code>. This is usually done in
        <code>AppModule</code> or in the <code>CoreModule</code>. That way we
        don't have to specify this options in the feature modules while still
        preserving posibility to override them if necessary. The
        <code>forRoot()</code> accepts also <code>elementConfigs</code> so they
        can be pre-configured centrally removing the need to configure them in
        feature modules or inline in the templates.
      </p>
      <pre [highlight]="codeExample4html"></pre>
      <pre [highlight]="codeExample4coreModule"></pre>
    </div>
  </div>
</div>
