<div class="wrapper">
  <h1>Advanced</h1>

  <h2>Elements configured in module</h2>
  <div class="content">
    <div class="implementation" *ngIf="!example1">
      <button mat-flat-button color="accent" (click)="example1 = true">
        <mat-icon>play_arrow</mat-icon>
        Run
      </button>
    </div>
    <div class="implementation" *ngIf="example1">
      <ion-button *axLazyElement (click)="increment()">Click me</ion-button>
      <p>Counter: {{ counter }}</p>
    </div>
    <div class="description">
      <p>
        In this example we're pre-configuring
        <code>LazyElementsModule</code> with the element config. That way we
        don't have to specify url of the element in the
        <code>*axLazyElementDirective</code>. The element will be lazy-loaded
        the same way as if we specified url directly.
      </p>
      <pre [highlight]="codeExample1html"></pre>
      <pre [highlight]="codeExample1module"></pre>
    </div>
  </div>

  <h2>Elements configured in module with options</h2>
  <div class="content">
    <div class="implementation" *ngIf="!example2">
      <button mat-flat-button color="accent" (click)="example2 = true">
        <mat-icon>play_arrow</mat-icon>
        Run
      </button>
    </div>
    <div class="implementation" *ngIf="example2">
      <ng-template #loading>Loading...</ng-template>
      <mwc-checkbox
        *axLazyElement="null; module: true; loadingTemplate: loading"
        >Click me</mwc-checkbox
      >
    </div>
    <div class="description">
      <p>
        We don't have to specify <code>url</code> when using pre-configured
        <code>LazyElementsModule</code>. We still might need to pass in
        <code>null</code> url into <code>*axLazyElement</code> directive in case
        we want to use other options like <code>module</code> or
        <code>loadingTemplate</code>.
      </p>
      <pre [highlight]="codeExample2html"></pre>
      <pre [highlight]="codeExample2module"></pre>
    </div>
  </div>
</div>
