<div class="intro">
  <mat-icon
    inline
    svgIcon="logo"
    aria-hidden="false"
    aria-label="@angular-extensions/elements"
  ></mat-icon>
  <h1>ANGULAR EXTENSIONS ELEMENTS</h1>
  <h3>
    The easiest way to lazy-load Angular Elements or any other web components
    <br />
    in your Angular application!
  </h3>
</div>

<div class="cta">
  <button mat-flat-button color="primary" routerLink="../docs">
    Learn more
  </button>
  <button mat-flat-button color="accent" routerLink="../examples">
    Explore examples
  </button>
</div>

<h2>Quickstart</h2>
<ol>
  <li>Install <code color="accent">npm i @angular-extension/elements</code></li>
  <li>
    Add
    <code>
      import &#123; LazyElementsModule } from '@angular-extension/elements';
    </code>
  </li>
  <li>
    Append <code>LazyElementsModule</code> to the <code>imports: []</code> of
    your
    <code>AppModule</code>
  </li>
  <li>
    Add new <code>schemas: []</code> property with
    <code>CUSTOM_ELEMENTS_SCHEMA</code> value to
    <code>@NgModule</code> decorator of your
    <code>AppModule</code>
  </li>
  <li>
    Use <code>*axLazyElement</code> directive on an element you wish to load and
    pass in the url of the element bundle
  </li>
</ol>

<h2>Features</h2>
<mat-grid-list [cols]="columnCount | async" rowHeight="150">
  <mat-grid-tile *ngFor="let feature of features">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon color="primary">{{ feature.icon }}</mat-icon>
        </div>
        <mat-card-title>{{ feature.title }}</mat-card-title>
        <mat-card-subtitle [innerHTML]="feature.subtitle"></mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
