<div class="intro">
  <mat-icon
    inline
    svgIcon="logo"
    aria-hidden="false"
    aria-label="@angular-extensions/elements"
  ></mat-icon>
  <h1>ANGULAR EXTENSIONS ELEMENTS</h1>
  <h3>
    The easiest way to lazy-load Angular Elements or any other web components in
    your Angular application!
  </h3>
</div>

<h2>Get started</h2>
<ol>
  <li>Install <code>npm i @angular-extension/elements</code></li>
  <li>
    Add
    <code
      >import &#123; LazyElementsModule } from
      '@angular-extension/elements';</code
    >
  </li>
  <li>
    And append <code>LazyElementsModule</code> to the
    <code>imports: []</code> of your <code>AppModule</code>
  </li>
  <li>
    Use <code>*axLazyElement</code> directive on an element you wish to load
  </li>
</ol>
