@use 'sass:map';
@use '@angular/material' as mat;

@mixin demo-api-component-theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $foreground: map.get($theme, foreground);
  $background: map.get($theme, background);

  demo-api {
    th {
      background-color: mat.m2-get-color-from-palette($background, app-bar);
    }

    th,
    td {
      border-bottom: 1px solid
        mat.m2-get-color-from-palette($background, disabled-list-option);
      border-right: 1px solid
        mat.m2-get-color-from-palette($background, disabled-list-option);
    }
  }
}
