@use 'sass:map';
@use '@angular/material' as mat;

@mixin demo-footer-component-theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $foreground: map.get($theme, foreground);
  $background: map.get($theme, background);

  demo-footer {
    color: mat.m2-get-color-from-palette($primary, lighter-contrast);
    background-color: mat.m2-get-color-from-palette($primary, lighter);

    a {
      &:hover {
        color: mat.m2-get-color-from-palette($primary, lighter-contrast);
      }
    }

    .mdc-button__label {
      align-items: center;
      display: flex;
      gap: 10px;
      color: mat.m2-get-color-from-palette($primary, lighter-contrast);
    }

    img {
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    }
  }
}
