@use '~@angular/material' as mat;

@mixin demo-footer-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  demo-footer {
    color: mat.get-color-from-palette($primary, lighter-contrast);
    background-color: mat.get-color-from-palette($primary, lighter);

    a {
      &:hover {
        color: mat.get-color-from-palette($primary, lighter-contrast);
      }
    }

    img {
      border: 1px solid mat.get-color-from-palette($foreground, text);
    }
  }
}
