<mat-toolbar color="primary">
  <span>@angular-extensions/elements demo</span>

  <span class="spacer"></span>
  <button mat-flat-button routerLink="home" routerLinkActive="active" color="primary">Home</button>
  <button mat-flat-button routerLink="eager" routerLinkActive="active" color="primary">Eager</button>
  <button mat-flat-button routerLink="lazy" routerLinkActive="active" color="primary">Lazy</button>
  <a mat-icon-button href="https://github.com/angular-extensions/elements" target="_blank">
    <mat-icon svgIcon="github" aria-hidden="false" aria-label="GitHub"></mat-icon>
  </a>
</mat-toolbar>

<router-outlet></router-outlet>
<p>Parent simple: {{ simple }}</p>
<p>Parent complex: {{ complex | json }}</p>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>

<some-element
  *axLazyElement="'assets/some-element.js'; loading: loading"
  [simple]="simple"
  [complex]="complex"
  (simpleChange)="onSimpleChange($event.detail)"
  (complexChange)="onComplexChange($event.detail)"
>
  <p>Projected content</p>
</some-element>
