<demo-toolbar
  (toggle)="onNavToggle()"
  [navOpened]="navOpened | async"
></demo-toolbar>
<mat-sidenav-container
  [hasBackdrop]="isSmallOrSmaller | async"
  (backdropClick)="onBackdropClick()"
>
  <mat-sidenav
    [mode]="sidenavMode | async"
    [opened]="navOpened | async"
    disableClose
  >
    <demo-navigation></demo-navigation>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <demo-sponsor></demo-sponsor>
  </mat-sidenav-content>
</mat-sidenav-container>
<demo-footer></demo-footer>
