<div class="quick-nav">
  <h3>Quick navigation</h3>
  <ul>
    <li><a routerLink="." fragment="basic-usage">Basic usage</a></li>
    <li><a routerLink="." fragment="loading-template">Loading template</a></li>
    <li><a routerLink="." fragment="error-template">Error template</a></li>
    <li>
      <a routerLink="." fragment="advanced-angular-template-binding">
        Advanced Angular template bindings
      </a>
    </li>
  </ul>
</div>

<div class="wrapper">
  <h1>Basic</h1>

  <h2 id="basic-usage">Basic usage</h2>
  <div class="content">
    <demo-example>
      <ng-template>
        <sl-icon
          style="font-size: 24px"
          name="heart"
          *axLazyElement="
            'https://cdn.jsdelivr.net/npm/&#64;shoelace-style/shoelace&#64;2.3.0/dist/components/icon/icon.js';
            module: true
          "
        />
      </ng-template>
    </demo-example>
    <div class="description">
      <p>
        The most simple example, all we need is to use element tag, for example
        <code>&#60;sl-icon></code>
        and add
        <code>*axLazyElement</code>
        directive with the url pointing to the element implementation.
      </p>
      <demo-example-code [example]="codeExample1" />
    </div>
  </div>

  <h2 id="loading-template">
    Use loading
    <code>&#60;ng-template #loading></code>
  </h2>
  <div class="content">
    <demo-example>
      <ng-template>
        <ng-template #loading><demo-spinner /></ng-template>
        <sl-button
          variant="default"
          *axLazyElement="
            'https://cdn.jsdelivr.net/npm/&#64;shoelace-style/shoelace&#64;2.3.0/dist/components/button/button.js';
            loadingTemplate: loading;
            module: true
          "
          (click)="increment()"
        >
          Increment
        </sl-button>
        <p>Counter: {{ counter }}</p>
      </ng-template>
    </demo-example>
    <div class="description">
      <p>
        In this example we're loading
        <code>&#60;sl-button></code>
        using the
        <code>*axLazyElement</code>
        directive but we're also adding
        <code>&#60;ng-template #loading>Loading...&#60;ng-template></code>
        which will be displayed before the element was loaded (depending on your
        connection speed)
      </p>
      <demo-example-code [example]="codeExample2" />
    </div>
  </div>

  <h2 id="error-template">
    Use error
    <code>&#60;ng-template #error></code>
  </h2>
  <div class="content">
    <demo-example>
      <ng-template>
        <ng-template #loading>Loading...</ng-template>
        <ng-template #error>Loading failed...</ng-template>
        <mwc-button
          *axLazyElement="
            'https://unpkg.com/wrong-url.js?module';
            loadingTemplate: loading;
            errorTemplate: error;
            module: true;
            loadingError: customLoadingErrorHandler
          "
          raised
        >
          Submit
        </mwc-button>
      </ng-template>
    </demo-example>
    <div class="description">
      <p>
        In this example we're loading
        <code>&#60;mwc-button></code>
        using the
        <code>*axLazyElement</code>
        directive but we're also adding
        <code>&#60;ng-template #error>Loading failed...&#60;ng-template></code>
        which will be displayed because the loading request will fail (wrong
        url)
      </p>
      <demo-example-code [example]="codeExample3" />
    </div>
  </div>

  <h2 id="advanced-angular-template-binding">
    Advanced binding (objects instead of primitives)
  </h2>
  <div class="content">
    <demo-example>
      <ng-template>
        <div>
          <mat-label>
            Adjust the
            <code>xAxis</code>
            array values
            <code style="display: inline-block; width: 100px">
              {{ xAxis | json }}
            </code>
          </mat-label>
          <mat-slider max="10" min="1" step="0.5" thumbLabel #ngSlider>
            <input
              matSliderThumb
              (input)="onSliderChange(ngSliderThumb.value)"
              #ngSliderThumb="matSliderThumb"
              value="6.28"
            />
          </mat-slider>
        </div>
        <ng-template #loading>Loading...</ng-template>
        <ng-template #error>Loading failed...</ng-template>
        <ink-chart
          *axLazyElement="
            'https://unpkg.com/ink-components';
            loadingTemplate: loading;
            errorTemplate: error
          "
          xlabel="x"
          ylabel="sin(x)"
          x-axis-location="origin"
          y-axis-location="origin"
          [xlim]="xAxis"
          [ylim]="yAxis"
        >
          <ink-chart-eqn eqn="Math.sin(x)"></ink-chart-eqn>
        </ink-chart>
      </ng-template>
    </demo-example>
    <div class="description">
      <p>
        In this example we're loading
        <a href="https://components.ink/" target="_blank">Ink</a>
        chart element! Ink comes with all elements in single bundle so we can
        use multiple Ink elements while using
        <code>*axLazyElement</code>
        directive only on the outmost element. Besides that in our Angular
        component we have defined
        <code>xAxix</code>
        array with the
        <code>[-6.28, 6.28]</code>
        values which are passed in the element using standard Angular property
        binding
        <code>[xlim]="xAxis"</code>
        .
      </p>
      <demo-example-code [example]="codeExample4" />
    </div>
  </div>

  <h2 id="import-maps">Using import maps (SystemJS is required)</h2>
  <div class="content">
    <demo-example>
      <ng-template>
        <sl-switch
          *axLazyElement="'sl-switch'; module: true; importMap: true"
        ></sl-switch>
      </ng-template>
    </demo-example>
    <div class="description">
      <p>
        In this example we are using axLazyElement with Import Maps to load
        <code>&#60;sl-switch></code>
        . Any key can be used in the URL that is mapped to a import map. For
        this feature to work properly a peer dependency of having
        <a href="https://github.com/systemjs/systemjs" target="_blank">
          SystemJS
        </a>
        globally loaded needs to be satisfied. For instance your index.html may
        have the following code:
      </p>
      <demo-example-code [example]="codeExample5ImportMap" />
      <p>
        So when adding
        <code>&#60;sl-switch></code>
        with
        <code>*axLazyElement</code>
        with the
        <code>importMap</code>
        flag set to
        <code>true</code>
        the directive will look for the key stored in the import map and load
        the correct script.
      </p>
      <demo-example-code [example]="codeExample5" />
    </div>
  </div>
</div>
