// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$elements-demo-primary: mat.define-palette(mat.$red-palette, 700, 600, 900);
$elements-demo-accent: mat.define-palette(mat.$pink-palette, 900);

// The warn palette is optional (defaults to red).
$elements-demo-warn: mat.define-palette(mat.$deep-orange-palette);

// Create the theme object (a Sass map containing all of the palettes).
$elements-demo-theme: mat.define-light-theme(
  $elements-demo-primary,
  $elements-demo-accent,
  $elements-demo-warn
);

// custom theme imports
@import './styles-reset.scss-theme';
@import './app/app.component.scss-theme';
@import './app/core/layout/navigation/navigation.component.scss-theme';
@import './app/core/layout/footer/footer.component.scss-theme';
@import './app/features/docs/faq/faq.component.scss-theme';
@import './app/features/docs/api/api.component.scss-theme';

@mixin custom-components-theme($theme) {
  // include custom components themes
  @include styles-reset-theme($theme);
  @include demo-root-component-theme($theme);
  @include demo-navigation-component-theme($theme);
  @include demo-footer-component-theme($theme);
  @include demo-faq-component-theme($theme);
  @include demo-api-component-theme($theme);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-legacy-component-themes($elements-demo-theme);
@include custom-components-theme($elements-demo-theme);
