* {
  margin: 0;
  padding: 0;
  outline: 0;
}

html,
body {
  height: 100%;
}

ul,
ol {
  list-style-position: inside;
  line-height: 2em;
}

code {
  white-space: nowrap;
  border-radius: 10px;
  padding: 0 8px 1px 8px;
}
