:host {
  position: relative;
}

.quick-nav {
  display: none;
  position: fixed;
  top: 105px;
  left: 75%;
  right: 0;
  padding: 0 20px;

  h3 {
    font-size: 16px;
    opacity: 0.5;
  }

  ul {
    list-style-type: none;

    a {
      color: #000;

      &:hover,
      &:focus {
        color: #d32f2f;
      }
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: column;
    margin: 0 0 50px 0;

    .implementation {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;
      margin: 0 20px 20px 0;
      border: 2px solid #eee;
      padding: 20px;

      p {
        margin: 10px 0 0 0;
      }

      wired-button {
        padding: 10px 15px;
      }
    }

    .description {
      flex: 1.5;
    }

    .controls {
      display: flex;
      align-items: center;

      span {
        padding: 20px;
      }
    }
  }
}

:host-context(.responsive-large) {
  .quick-nav {
    display: block;
  }

  .wrapper {
    width: 60%;
  }
}
