<div class="quick-nav">
  <h3>Quick navigation</h3>
  <ul>
    <li>
      <a routerLink="." fragment="dynamic-element-tag">Dynamic element tag</a>
    </li>
    <li>
      <a routerLink="." fragment="module-pre-configuration">
        Dynamic element tag with module pre-configuration
      </a>
    </li>
    <li>
      <a routerLink="." fragment="multiple-different-dynamic-elements">
        Multiple different dynamic elements
      </a>
    </li>
  </ul>
</div>

<div class="wrapper">
  <h1>Dynamic</h1>

  <p>
    These example explain how to configure element tag dynamically using
    <code>*axLazyElementDynamic</code>
    directive. This can be very useful if we want to retrieve element
    configuration from somewhere else (for example a backend or a json config
    file). Such a setup can enable us to develop fully dynamic and configurable
    microfrontend applications!
  </p>

  <h2 id="dynamic-element-tag">Dynamic element tag</h2>
  <div class="content">
    <demo-example>
      <ng-template>
        <ng-template #loading>Loading...</ng-template>
        <ax-lazy-element
          *axLazyElementDynamic="
            'sl-button';
            url: 'https://cdn.jsdelivr.net/npm/&#64;shoelace-style/shoelace&#64;2.3.0/dist/components/button/button.js';
            loadingTemplate: loading;
            module: true
          "
          [variant]="isButtonVariantPrimary ? 'primary' : 'default'"
          (click)="increment1()"
        >
          Increment
        </ax-lazy-element>
        <p>Counter: {{ counter1 }}</p>
        <div class="controls">
          <span>Default button</span>
          <mat-slide-toggle
            [(ngModel)]="isButtonVariantPrimary"
          ></mat-slide-toggle>
          <span>Primary button</span>
        </div>
      </ng-template>
    </demo-example>
    <div class="description">
      <p>
        In this example we're loading
        <code>&#60;sl-button></code>
        using the
        <code>*axLazyElementDynamic</code>
        directive. Please notice that the original HTML element used in the
        template is
        <code>&#60;ax-lazy-element></code>
        and we're specifying the desired tag as the first parameter of
        <code>*axLazyElementDynamic='sl-button'</code>
        . Please, feel free to open your browsers dev tools to check resulting
        element tag!
      </p>
      <demo-example-code [example]="codeExample1" language="html" />
      <p>
        You might be asking why do we use
        <code>&#60;ax-lazy-element></code>
        . This is not a real custom element and that's exactly the point. We can
        provide any valid and unused custom element name. That way Angular won't
        complain if we use custom property and event binding which would be the
        case if we tried to bind
        <code>&#60;div [custom]="value"></code>
        ...
      </p>
    </div>
  </div>

  <h2 id="module-pre-configuration">
    Dynamic element tag with module pre-configuration
  </h2>
  <div class="content">
    <demo-example>
      <ng-template>
        <ng-template #loading>Loading...</ng-template>
        <ax-lazy-element
          *axLazyElementDynamic="'wired-button'; loadingTemplate: loading"
          (click)="increment2()"
        >
          Increment
        </ax-lazy-element>
        <p>Counter: {{ counter2 }}</p>
      </ng-template>
    </demo-example>
    <div class="description">
      <p>
        The
        <code>*axLazyElementDynamic</code>
        directive works also with the pre-configured
        <code>LazyElementsModule</code>
        . That way we don't have to specify url of the element in the template.
        Please notice that the original HTML element used in the template is
        <code>&#60;div></code>
        and we're specifying the desired tag as the first parameter of
        <code>*axLazyElementDynamic='wired-button'</code>
        . Please, feel free to open your browsers dev tools to check resulting
        element tag!
      </p>
      <demo-example-code [example]="codeExample2html" language="html" />
      <demo-example-code
        [example]="codeExample2standalone"
        [exampleModule]="codeExample2module"
      />
    </div>
  </div>

  <h2 id="multiple-different-dynamic-elements">
    Multiple different dynamic elements
  </h2>
  <div class="content">
    <demo-example>
      <ng-template>
        <div class="actions">
          @for (c of dynamicConfigs; track c.tag) {
            <ng-template #loading>
              Loading <{{ c.tag }}>...&nbsp;&nbsp;
            </ng-template>
            <ax-lazy-element
              *axLazyElementDynamic="
                c.tag;
                url: c.url;
                module: c.isModule;
                loadingTemplate: loading
              "
              (click)="performAction(c.actionName)"
              [name]="c.name ? c.name : undefined"
            >
              @if (c.content) {
                {{ c.content }}
              }
            </ax-lazy-element>
          }
        </div>
        <p>Counter: {{ counter3 }}</p>
      </ng-template>
    </demo-example>
    <div class="description">
      <p>
        The
        <code>*axLazyElementDynamic</code>
        directive works also with
        <code>&#64;for</code>
        directive to render fully dynamic configuration which could have been
        retrieved from backend during the runtime in comparison to hard-coded
        into the template during build time! Please, feel free to open your
        browsers dev tools to check resulting element tags!
      </p>
      <demo-example-code [example]="codeExample3html" language="html" />
    </div>
  </div>
</div>
