h2 {
  margin: 40px 0 10px 0;
  font-weight: bold;
}

h3 {
  margin: 20px 0 5px 0;
  font-weight: bold;
}

ol {
  margin: 0 0 20px 0;
}

:host-context(.responsive-large) {
  .wrapper {
    width: 70%;
  }
}
